<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-primary">Your reservation has been completed successfully!</h1>
            <h2>Check your email for your reservation details.</h2>
        </div>
    </div>
</div>